---
import HomeSlider from '@components/HomeSlider'
import AboutUs from '@components/AboutUs'
import CharacterizesUs from '@components/CharacterizesUs'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Persianas y Cortinas El Nudo">
	
	<main class="bg-white md:py-10">
		<HomeSlider client:visible	/>
		<AboutUs client:visible />
		<CharacterizesUs client:visible />
	</main>
</Layout>