---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Persianas y Cortinas El Nudo">
	<main class="min-h-screen bg-teal-100 grid place-content-center">
		Pagina en Contrucción
	</main>
</Layout>

