---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Persianas y Cortinas El Nudo">
	
	<main class="bg-white md:pt-10 max-w-7xl mx-auto px-8 py-10 min-h-lvh flex gap-5 flex-col">
		<p>De acuerdo a lo Previsto en la “Ley Federal de Protección de Datos Personales”, declara  Guadalupe Cabrera, ser una persona fisica legalmente constituida de conformidad con las leyes mexicanas, con domicilio fiscal en Mariano Jimenez 160, Tepatitlán Jalisco, y como responsable del tratamiento de sus datos personales, hace de su conocimiento que la información de nuestros clientes es tratada de forma estrictamente confidencial por lo que al proporcionar sus datos personales, tales como:</p>
		<ol class="list-decimal pl-8">
			<li>Nombre Y/O Razón Social. </li>
			<li>Dirección </li>
			<li>Registro Federal de Contribuyentes.</li>
			<li>Teléfonos de Oficina y móviles. </li>
			<li>Correo Electrónico.</li>
		</ol>
		<p>
			Estos serán utilizados única y exclusivamente para los siguientes fines:
		</p>
		<ol class="list-decimal pl-8">
			<li>Campañas de Publicidad.</li>
			<li>Campañas de Fidelidad. </li>
			<li>Información y Prestación de Servicios.</li>
			<li>Actualización de la Base de Datos.</li>
			<li>Cualquier finalidad análoga o compatible con las anteriores.</li>
		</ol>
		
		<p>
			Para prevenir el acceso no autorizado a sus datos personales y con el fin de asegurar que la información sea utilizada para los fines establecidos en este aviso de privacidad, hemos establecido diversos procedimientos con la finalidad de evitar el uso o divulgación no autorizados de sus datos, permitiéndonos tratarlos debidamente. Así mismo, le informamos que sus datos personales pueden ser transmitidos para ser tratados por personas distintas a esta empresa, pero siempre para los fines establecidos en éste aviso y bajo supervisión de EL NUDO. Todos sus datos personales son tratados de acuerdo a la legislación aplicable y vigente en el país, por ello le informamos que usted tiene en todo momento los derechos de acceder, rectificar, cancelar u oponerse al tratamiento que le damos a sus datos personales; derecho que podrá hacer valer a través del Área de Privacidad encargada de la seguridad de datos personales en el Teléfono 378 782 1145 o al correo electrónico cortinasypersianaselnudo@gmail.com.
		</p>
		<p>
			A través de estos canales usted podrá actualizar sus datos y especificar el medio por el cual desea recibir información, ya que en caso de no contar con esta especificación de su parte, EL NUDO establecerá libremente el canal que considere pertinente para enviarle información. Este aviso de privacidad podrá ser modificado por EL NUDO dichas modificaciones serán oportunamente informadas a través de correo electrónico, teléfono, página web o cualquier otro medio de comunicación que EL NUDO determine para tal efecto.
		</p>	
			
	</main>
</Layout>