---
import Navigation from '@components/Navigation.jsx'
import Footer from '@components/Footer.jsx'
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-default bg-light font-myriad">
		<Navigation client:load/>
			<slot />
		<Footer client:load />
	</body>
</html>
